<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title panel-title title--inline">Heroes list</h3>
        <span class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown">Filter<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="listFilter='name'">Name</a></li>
                    <li><a ng-click="listFilter='age'">Age</a></li>
                    <li><a ng-click="listFilter='status'">Status</a></li>
                </ul>
        </span>
    </div>

    <div class="panel-body">
        <div class="col-sm-6 col-md-4" ng-repeat="hero in heroes | orderBy:listFilter" class="ng-class-even:'even';ng-class-odd:'odd'">
            <div ng-switch="{{hero.status}}" class="pull-right" style="font-size: 1.5em">
                <span ng-switch-when="0" class="label label-success">Available</span>
                <span ng-switch-when="1" class="label label-warning">Busy</span>
                <span ng-switch-when="2" class="label label-danger">Hurt</span>
            </div>
            <div class="thumbnail">
                <img ng-src="images/{{hero.image}}" class="image-thumbnail">

                <div class="caption">
                    <button ng-link="{{hero.id}}" class="btn btn-primary pull-right">Edit</button>
                    <h3>{{hero.name}}</h3>
                    <h4>{{hero.age}}</h4>
                    <p>{{hero.description}}</p>
                </div>
            </div>
        </div>
    </div>
            
</div>