<header class="container page-header">
    <h1>Avengers App
        <small>application</small>
    </h1>
</header>

<section class="container" >
    <div class="panel panel-primary">


        <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Liste complète</h3>
            <span class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown">Filtrer <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="changeStatus('name')">Trier par nom</a></li>
                    <li><a ng-click="changeStatus('age')">Trier par âge</a></li>
                    <li><a ng-click="changeStatus('status')">Trier par status</a></li>
                </ul>
            </span>
        </div>

        <div class="panel-body">

        <hero-info  ng-repeat ="hero in heroes | orderBy: orderProp"></hero-info>
            
        </div>

    </div>

</section>