<div class="col-sm-6 col-md-4">
    <div class="pull-right" ng-switch on="hero.status">
        <span ng-switch-when="0" class="label label-success">Available</span>
        <span ng-switch-when="1" class="label label-warning">Busy</span>
        <span ng-switch-when="2" class="label label-danger">Wounded</span>
    </div>
    <div class="thumbnail">
        <img ng-src="images/{{hero.image}}" class="image-thumbnail">
        <div class="caption">
            <h3>{{hero.name}}</h3>
            <h4>{{hero.age}}</h4>
            <p>{{hero.description}}</p>
            <button class="btn btn-primary" ng-click="showHero(hero.id)">Modify</button>

        </div>
    </div>
</div>