<div class="panel panel-primary">


    <div class="panel-heading">
        <h3 class="panel-title panel-title title--inline">Description File</h3>
    </div>

    <div class="panel-body panel-body">
        <div>
            <img class="thumbnail thumbnail--inline" ng-src="images/{{hero.image}}" width="100px" height="100px"/>
            <span class="bloc-hero">
                <h3>{{hero.name}}</h3>
                <h4>{{hero.age}}</h4>
                <p>{{hero.description}}</p>
                <span class="label label-success">Available</span>
                <span class="label label-warning">Busy</span>
                <span class="label label-danger">Wounded</span>
            </span>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Mettre à jour le status <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Available</a></li>
                    <li><a href="#">Busy</a></li>
                    <li><a href="#">Wounded</a></li>
                </ul>
            </div>

        </div>
        <button class="btn-back btn btn-primary" ng-click="back()">Back to list</button>
        <div class="alert alert-success"><strong>Right On!</strong></div>
        <div class="alert alert-danger"><strong>You F*cked Up!</strong></div>
    </div>

</div>
